@model CadastroFamilia.Models.Familia
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Familia @Model.Id</h2>

<ul>
    <li>Esposa: @Html.ActionLink(@Model.Esposa.Nome, "Details", "Esposa", new {id = Model.Esposa.Id}, null)</li>
    <li>Marido: @Html.ActionLink(@Model.Marido.Nome, "Details", "Marido", new { id = Model.Marido.Id }, null)</li>
    <li>Qnt filhos: @Model.Filhos.Count</li>
</ul>
