@model CadastroFamilia.Models.Marido
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Nome</h2>

<ul>
    <li>Email: @Model.Email</li>
    <li>Altura: @Model.Altura</li>
    <li>Nascimento: @Model.Nascimento.ToShortDateString()</li>
    <li><button type="submit" class="btn btn-primary">@Html.ActionLink("Editar", "Edit", "Marido", new { id = Model.Id }, null)</button></li>
</ul>
